<div>Name: {{input value=model.name}}</div>
<div>Description: {{textarea value=model.description}}</div>
<div>Tag Type: (Coming soon via emberx-select)</div>
<div>Priority: {{input value=model.priority}}</div>
<button {{action 'save'}}>Save</button>