<h1>Add Users</h1>
<p>
  Others on your team (emails, separated by newline, no commas)
  <br>
  {{textarea value=newLineSeparatedUsers class="large-text-area"}}
  {{!-- put an example off to the side --}}
  <br>
  You've added {{users.length}} team members.  You may add or remove more team members later.
</p>
<p>
  Users who already have a pro account will be given the chance to switch to the organization account.
  <br>
  This will result in an immediate charge for recently added users, prorated to the end of the current billing cycle.
  <br>
  After that, your monthly bill will be ${{monthlyBill}} more than it was before.
</p>
<a class="btn btn-primary light-button" {{action 'addUsers'}}>Give Them Knowledge</a>
