<h1>New Organization</h1>
<p>
  Organization Name
  <br>
  {{input type="text" value=organizationName}}
</p>

<a class="btn btn-primary light-button" {{action 'createOrganization'}}>Create my Organization</a>
<p>Your billing information and subscription will be transferred over to the organization.
<br>Your current billing cycle and rate will not be changed until you add more users to your organization.</p>
