@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.ember-modal-dialog {
  width: 400px;
  height: 200px;
}

.collapsible-box {
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
}
