<div class="row">
  {{#link-to 'tags.charts'}}<h4>Go to Charts</h4>{{/link-to}}
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Series</h4>
    <ul>
    {{#each series as |tag|}}
      <li>
      {{#link-to 'tag.show' tag}}
        {{tag.name}}
      {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Subjects</h4>
    <ul>
    {{#each subjects as |tag|}}
      <li>
      {{#link-to 'tag.show' tag}}
        {{tag.name}}
      {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Uncategorized</h4>
    <ul>
    {{#each uncategorized as |tag|}}
      <li>
      {{#link-to 'tag.show' tag}}
        {{tag.name}}
      {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>