<div class="container main-ember-content">
  <h2 id="title">Play some Pacman!</h2>
  {{pac-man}}
  <h2><a href="https://leanpub.com/buildpacman">Build this game!</a></h2>
  <h2><a href="https://github.com/jeffreybiles/pac-man">Include it in your website!</a></h2>
</div>
