<header class="navbar navbar-static-top sparks-header navbar-default" id="application-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand sparkcast-brand" href="/">Ember Screencasts</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/tags">Explore</a></li>
        <li><a href="/posts">Latest</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- only for admin -->
          <li><a href="/admin">ActiveAdmin</a></li>
          <li>{{link-to 'Ember Admin' 'application'}}</li>
        <!-- end only for admin -->
        <li><a href="/mailing_list">Join Mailing List</a></li>
        <!-- do authentication stuff here -->
      </ul>
    </div>
  </div>
</header>
<div class="container">

{{outlet}}

</div>