<div class="row">
  <div class="col-md-6">
    {{ember-chart type="Pie" data=numberPieData options=barChartOptions}}
  </div>
  <div class="col-md-6">
    {{ember-chart type="Pie" data=timePieData options=barChartOptions}}
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    {{ember-chart type='Bar' data=numberData options=barChartOptions legend=true height=500}}
  </div>
  <div class="col-md-6">
    {{ember-chart type='Bar' data=timeData options=barChartOptions legend=true height=500}}
  </div>
</div>