<div style="border: 1px solid black">
  {{#if isShowing}}
    <button {{action 'close'}} class="pull-right">x</button>
    {{yield}}
  {{else}}
    <button {{action 'open'}}>Click to reopen</button>
  {{/if}}
</div>
