<footer>
  <div class="container text-center" id="footer">
    <a href="https://twitter.com/EmberScreencast" class="btn btn-ghost" data-show-count="false">Follow @EmberScreencast</a>
    <a href="https://twitter.com/JeffreyBiles" class="btn btn-ghost" data-show-count="false">Follow @JeffreyBiles</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</footer>
