<div class="row">
  <div class="col-md-6 top-buffer">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "bdouglas-quote-pic.jpg", class: "image-object", width: '100px' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Highly recommend Ember Screencasts, awesome resource.</h4>
        -Brian Douglas, Software Developer
      </div>
    </div>
  </div>
  <div class="col-md-6 top-buffer">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "clowell-quote-pic.jpg", class: "image-object", width: '100px' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">A must watch for embereños of all stripes.</h4>
        -Charles Lowell, founder of The Frontside
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 top-buffer">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "knelson-quote-pic.jpeg", class: "image-object", width: '100px' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Wish I would of found these a few months ago!</h4>
        -Krista Nelson, Software Developer
      </div>
    </div>
  </div>
  <div class="col-md-6 top-buffer">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "ppoots-quote-pic.jpg", class: "image-object", width: '100px' %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Worth every penny!</h4>
        -Philip Poots, creator of EmberWatch
      </div>
    </div>
  </div>
</div>