<div>Name: {{input value=model.name}}</div>
<div>Description: {{textarea value=model.description}}</div>
<div>Tag Type: {{view 'select' value=model.tagType content=tagTypes prompt="Select subject or series"}}</div>
<div>Priority: {{input value=model.priority}}</div>
