<div>Name: {{input value=model.name}}</div>
<div>Description: {{textarea value=model.description}}</div>
<div>Tag Type:
  {{#x-select action='selectTagType' value=model.tagType id="tag-type-select"}}
    {{#x-option}}Select a tag type{{/x-option}}
    {{#each tagTypes as |type|}}
      {{#x-option value=type}}
        {{type}}
      {{/x-option}}
    {{/each}}
  {{/x-select}}
</div>
<div>Priority: {{input value=model.priority}}</div>
