<div class="container">
  <h2> About EmberScreencasts.com </h2>
  <p> EmberScreencasts are concise weekly videos focusing on <a href="http://emberjs.com/">Ember.js</a> and related technologies, including Javascript (ES2015/6), ember-cli, and html(5).</p>
  <p>Some screencasts are free, and you can <%= link_to 'subscribe', account_path %> in order to view everything.</p>
  <p>EmberScreencasts is directly inspired by <a href="http://railscasts.com/">RailsCasts</a> and other screencast series.</p>

  <h2> About the Author </h2>
  <p>I was sitting in my underground lab, surrounded by liquid nitrogen and lasers, when I decided that a little bit of computing knowledge would help me science better.  Halfway through <a href="http://www.htdp.org/2003-09-26/Book/curriculum-Z-H-1.html#node_toc_start"> my first book on Scheme/Racket</a> I decided to abandon science entirely in favor of programming.</p>
  <p>Since then I've gotten a minor in Computer Science, lived in South America, worked for a startup, worked with <a href="http://frontside.io">The Frontside</a>, a high-end web consultancy, and created <a href="http://mathmonstersgame.com">Math Monsters</a>, a game that teaches kindergarten math skills.</p>
  <p>You can reach me <a href="https://twitter.com/jeffreybiles">on twitter</a> or <a href="mailto:jeffrey@emberscreencasts.com">by email</a>, or visit <a href="http://jeffreybiles.com">my website</a>.
  <hr />
  <p>Happy Programmer LLC, my company, is dedicated to empowering others through knowledge.</p>

  <% content_for :title, "About EmberScreencasts" %>
  <% content_for :meta_description, "What is EmberScreencasts?  Who is the author?  The about page is the most accurately named way to find out." %>
</div>
