<h2> About SparkCasts </h2>
<p> SparkCasts is a series of short weekly screencasts focusing on <a href="http://emberjs.com/">Ember.js</a> and related technologies.  It's inspired by other screencast series such as <a href="http://railscasts.com/">RailsCasts</a>, <a href="http://www.rubytapas.com/">Ruby Tapas</a>, and <a href="https://egghead.io/">egghead.io</a>.</p>
<p>Screencasts are currently free while I expand my Ember knowledge and hone my screencasting skill.  Sometime in July or August, I'll start charging a subscription fee for access to 3/4 of the new videos.</p>

<h2> About the Author </h2>
<p>I was sitting in my underground lab, surrounded by liquid nitrogen and lasers, when I decided that a little bit of computing knowledge would help me science better.  Halfway through <a href="http://www.htdp.org/2003-09-26/Book/curriculum-Z-H-1.html#node_toc_start"> my first book on Scheme/Racket</a> I decided to abandon science entirely in favor of programming.</p>
<p>Since then I've gotten a minor in Computer Science, travelled to Colombia, worked for a startup, and created several half-finished web games.  I currently work at <a href="http://frontside.io">The Frontside</a>, an Austin-based consultancy that specializes in Ember.js and Ruby on Rails.</p>
<p>You can reach me <a href="https://twitter.com/JeffreyBiles">on twitter</a> or <a href="mailto:bilesjeffrey@gmail.com">by email</a>, or visit <a href="http://jeffreybiles.com">my website</a>.
<hr />
<p>Sparks Learning LLC is dedicated to empowering others through knowledge.  Currently it's just me (Jeffrey Biles) making Ember screencasts in my spare time, so don't be too impressed by the legality of it all.</p>