<h2> About EmberScreencasts.com </h2>
<p> EmberScreencast.com is a series of short weekly screencasts focusing on <a href="http://emberjs.com/">Ember.js</a> and related technologies.  It's inspired by other screencast series such as <a href="http://railscasts.com/">RailsCasts</a>.</p>
<p>Some screencasts are free, and you can <%= link_to 'subscribe', account_path %> in order to view everything.
<br>
<p>And yes, this site <em>is</em> written in Rails, not Ember.  That will change, now that fastboot is almost ready.</p>

<h2> About the Author </h2>
<p>I was sitting in my underground lab, surrounded by liquid nitrogen and lasers, when I decided that a little bit of computing knowledge would help me science better.  Halfway through <a href="http://www.htdp.org/2003-09-26/Book/curriculum-Z-H-1.html#node_toc_start"> my first book on Scheme/Racket</a> I decided to abandon science entirely in favor of programming.</p>
<p>Since then I've gotten a minor in Computer Science, lived in South America, worked for a startup, worked with <a href="http://frontside.io">The Frontside</a>, a high-end web consultancy, and created <a href="http://mathmonstersgame.com">Math Monsters</a>, a game that teaches kindergarten math skills.</p>  I currently work for the Communication Service for the Deaf.
<p>You can reach me <a href="https://twitter.com/EmberScreencast">on twitter</a> or <a href="mailto:jeffrey@emberscreencasts.com">by email</a>, or visit <a href="http://jeffreybiles.com">my website</a>.
<hr />
<p>Happy Programmer LLC is dedicated to empowering others through knowledge.  Currently it's just me (Jeffrey Biles) making Ember screencasts in my spare time, so don't be too impressed by the legality of it all.</p>

<% content_for :title, "About- EmberScreencasts" %>
