<div class="container">
  <h1>ember-cli-deploy</h1>
  <p>This is for EmberSchool students to get free access to the ember-cli-deploy series.
    If you're an EmberScreencasts subscriber, you can <a href="https://www.emberscreencasts.com/tags/ember-cli-deploy">get these videos in a more convenient series format</a>.
  </p>

  <h3>Intro and Installation</h3>
  <iframe src="//fast.wistia.net/embed/iframe/33rpxfymlo" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>

  <h3>Amazon S3</h3>
  <iframe src="//fast.wistia.net/embed/iframe/2c1u1r63iq" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>

  <h3>Connecting Your API</h3>
  <iframe src="//fast.wistia.net/embed/iframe/vechhfkwvm" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>

  <h3>Versioned Deploys</h3>
  <iframe src="//fast.wistia.net/embed/iframe/fm07v2hrti" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>

  <h3>Lightning Pack Part 1: Development</h3>
  <iframe src="//fast.wistia.net/embed/iframe/5g2cenb07h" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="500"></iframe>

  <h3>Lightning Pack Part 2: Production</h3>
  <iframe src="//fast.wistia.net/embed/iframe/70m4iiugfu" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>

  <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
  <% content_for :title, "EmberSchool- ember-cli-deploy videos" %>
</div>
