<h1>Frequently Asked Questions</h1>

<h4>Can you teach me/my team/my employees <em>personally</em>?</h4>
<p>I can take your new-to-Ember employees and make them productive in Ember very quickly. <a href="mailto:bilesjeffrey@gmail.com">Email me at my personal address</a> if you're interested.
<h4>What do I get when I subscribe?</h4>
<p>You get access to dozens of Pro screencasts, as well as a warm fuzzy feeling inside for helping the community.</p>
<h4>How do I unsubscribe?</h4>
<p>You go to <%= link_to 'your account page', account_path %> and hit the unsubscribe button.  You will be unsubscribed immediately and your credit card will no longer be charged.</p>
<h4>Can you cover subject X?</h4>
<p>Demand plays a role in how I decide screencast topics.  <a href="https://twitter.com/emberscreencast">Message me on twitter</a> to make your voice heard.</p>
<h4>How do I get started with Ember?</h4>
<p>Some great getting-started guides are <a href="https://leanpub.com/ember-cli-101">ember-cli 101</a>, <a href="https://embergrep.com/">Ember Grep</a>, and <a href="http://balinterdi.com/rock-and-roll-with-emberjs/">Rock and Roll with EmberJS</a>.</p>
<p>Once you're done with one of these books you should be ready to learn from the Basic screencasts and some of the Intermediate screencasts here.
<p>I'm also working on a more unusual introductory book that will complement the approaches taken in the three resources above.  Stay tuned.</p>
