<section id="video_archive">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Video Archive</h1>
        <div class="buttons">
          <a class="light-button btn" href="/posts">More episode details</a>
          <a class="light-button btn" href="/tags">Arrange by subject</a>
        </div>
        <ul>
          <% @posts.each do |post| %>
            <li class="archive-title">
              <%= link_to post do %>
                <div class="archive-publish-date">
                  <%= post.publish_date %>
                </div>
                <%= post.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<% content_for :title, "Ember Video Library- EmberScreencasts.com" %>
<% content_for :meta_description, "Every single EmberScreencast video, in one place, arranged newest first." %>
