<h1>Series</h1>
<div class="row">
  <div class="series col-md-6">
    <h2>Tables of Data</h2>
    <p>There are many ways to manipulate tables of data.  We start with sorting and pagination, then go to changing the data columns themselves.</p>
    <ol>
      <li><a href="/posts/20-sorting-tables-with-sortablemixin">SortableMixin</a></li>
      <li><a href="/posts/21-sort-arrows-and-refactoring-into-a-component">Sort Arrows</a></li>
      <li><a href="/posts/22-highlight-selected-sort-options">Highlight Selected Sort</a></li>
      <li><a href="/posts/23-query-params">Query Params</a></li>
      <li><a href="/posts/24-handlebars-subexpressions">Handlebars Subexpressions</a></li>
      <li><a href="/posts/26-client-side-pagination-part-1-basics">Pagination Part 1: Basics</a></li>
      <li><a href="/posts/27-client-side-pagination-part-2-previousnext-page-buttons-change-page-size">Pagination Part 2</a></li>
      <li><a href="/posts/28-metaprogramming-magic-with-arrays-and-the-ember-get-helper-addon">Metaprogramming Magic with Arrays and the ember-get-helper addon</a></li>
      <li><a href="/posts/29-toggle-table-columns">Toggle Table Columns</a></li>
      <li><a href="/posts/30-rearranging-table-columns">Rearrange Table Columns</a></li>
    </ol>
  </div>
  <div class="series col-md-6">
    <h2>Building the CRUD-builder addon</h2>
    <p>We build an addon that generates a CRUD (Create, Read, Update, Destroy) interface that interacts with a REST API via Ember Data.</p>
    <ol>
      <li><a href="http://www.emberscreencasts.com/posts/32-nested-routes-and-outlets">Nested Routes and Outlets</a></li>
      <li><a href="http://www.emberscreencasts.com/posts/33-pods">Pods</a></li>
      <li>CRUD: Read, Updated, Destroy (Coming Soon)</li>
      <li>CRUD: Create (Coming Soon)</li>
      <li>Blueprints: Generating files (Coming Soon)</li>
      <li>Blueprints: Advanced (Coming Soon)</li>
      <li>Creating an Addon (Coming Soon)</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="series col-md-6">
    <h2>Ember Inspector</h2>
    <p>The Ember Inspector is a great way to discover more about Ember apps- you own, and others!  Learn how to explore and manipulate Ember apps live.</p>
    <ol>
      <li><a href="/posts/16-ember-inspector-1-installing-the-ember-inspector">Installation</a></li>
      <li><a href="/posts/17-ember-inspector-2-exploring-objects">Exploring Objects</a></li>
      <li><a href="/posts/18-ember-inspector-3-the-view-tree">View Tree</a></li>
      <li><a href="/posts/19-ember-inspector-4-routes">Routes</a></li>
      <li><a href="/posts/31-ember-inspector-5-data">Data</a></li>
      <li>Promises (coming soon)</li>
    </ol>
  </div>
  <div class="series col-md-4 col-xs-6">
    <h2>Miscellaneous</h2>
    <p>One-off screencasts that don't fit within a specific series.</p>
    <!-- Nascent series: Ember Data, Handlebars, plugins/addons -->
    <ul>
      <li><a href="/posts/1-custom-adapters-for-ember-data">Custom Adapters for Ember Data</a></li>
      <li><a href="/posts/2-switching-to-ember-data">Switching to Ember Data</a></li>
      <li><a href="/posts/3-metaprogramming-with-defineproperty">Metaprogramming with defineProperty</a></li>
      <li><a href="/posts/4-setting-up-testing">Setting up Testing (outdated)</a></li>
      <li><a href="/posts/5-embedding-youtube-videos">Embedding Youtube Videos</a></li>
      <li><a href="/posts/9-embercomputed">Ember.computed</a></li>
      <li><a href="/posts/10-create-and-destroy">Create and Destroy</a></li>
      <li><a href="/posts/11-refactoring-to-a-component">Refactoring to a Component</a></li>
      <li><a href="/posts/13-ember-easyform">ember-easyForm</a></li>
      <li><a href="/posts/15-debugging-someone-elses-rubygem">Debugging someone else's Rubygem</a></li>
      <li><a href="/posts/25-advanced-handlebars-option-hashes-and-more">Advanced Handlebars: options hashes and more</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="series col-md-4 col-xs-6">
    <h2>Journey to Ember-CLI</h2>
    <p>A trek through the history of Ember build tooling.  No longer useful as a how-to.</p>
    <ol>
      <li><a href="/posts/6-intro-to-ember-app-kit">Intro to Ember App Kit</a></li>
      <li><a href="/posts/7-transferring-to-ember-app-kit">Transferring to Ember App Kit</a></li>
      <li><a href="/posts/8-persistence-with-ember-data-and-ember-app-kit">Persistence with Ember Data and Ember App Kit</a></li>
      <li><a href="/posts/12-moving-to-ember-cli-from-ember-appkit-pro">Moving to Ember CLI from Ember App Kit</a></li>
      <li><a href="/posts/sparkcast-14-ember-cli-rails">ember-cli-rails</a></li>
    </ol>
  </div>
  <!-- My favorites are metaprogramming, Ember.computed, Custom Adapters, and handlebars subexpressions-->
  <!-- How to show favorites? -->
</div>