<div class="container">
  <h1>Thank You!</h1>
  <h4>You can now view every screencast on the site.</h4>
  <h4>Here are some next actions you could take...</h4>
  <h3><%= link_to 'See the Latest Screencasts', posts_path %></h3>
  <h3><%= link_to 'Explore Series and Subjects', tags_path %></h3>
  <h3><%= link_to 'Get Weekly Updates', mailing_list_path %></h3>
  <h3><a href="mailto:jeffrey@emberscreencasts.com">Send Me a Message</a></h3>
  <hr>
  <h4>Thanks again. Your support and feedback help me make better screencasts.</h4>

  <a href="/organization_admin#/new" class="btn btn-primary light-button">I want to create an organization from this account.</a>

  <% content_for :title, "Thanks!- EmberScreencasts" %>
</div>
