.large-text-area {
  height: 300px;
  width: 300px;
}
/*hacking around the fact that ember stuff no longer put in .main-content*/

.main-content {
  margin-bottom: 0;
}

.main-ember-content {
  margin-bottom: 100px;
}

a.btn {
  text-decoration: none;
  color: #000;
}

a.btn.btn-danger {
  color: white;
}
