{{#if wearingAHat}}
  You're wearing a hat!
  <br>
  <button {{action 'takeOffHat'}}>Take it off</button>
{{else}}
  Your hair is naked.
  <br>
  <button {{action 'putOnHat'}}>Put on a hat</button>
{{/if}}
