<h2>Accessor.ly</h2>

{{control-accessory changeItem=(action "changeItem" "hatColor") itemName="hat" itemColor=hatColor}}
{{control-accessory changeItem=(action "changeItem" "necklaceColor") itemName="necklace" itemColor=necklaceColor}}
{{control-accessory changeItem=(action "changeItem" "shoeColor") itemName="shoe" itemColor=shoeColor}}

<button {{action 'pressRelease'}}>Read our press release!</button>
