<h2>Accessor.ly</h2>
{{#each itemDetails as |item index|}}
  {{#collapsible-box}}
    {{control-accessory changeItem=(action "changeItem" index) itemName=item.itemName itemColor=item.itemColor}}
  {{/collapsible-box}}
{{/each}}

<button {{action 'pressRelease'}}>Read our press release!</button>
