<h2>Accessor.ly</h2>

{{#each itemDetails as |item index|}}
  {{control-accessory changeItem=(action "changeItem" index) itemName=item.itemName itemColor=item.itemColor}}
{{/each}}

<button {{action 'pressRelease'}}>Read our press release!</button>
