<h2>Accessor.ly</h2>

{{control-accessory changeItem=(action "changeHat") itemName="hat" itemColor=hatColor}}
{{control-accessory changeItem=(action "changeNecklace") itemName="necklace" itemColor=necklaceColor}}
{{control-accessory changeItem=(action "changeShoe") itemName="shoe" itemColor=shoeColor}}

<button {{action 'pressRelease'}}>Read our press release!</button>
