<div style="padding-left:25px" class="list-group-item">
  <%= link_to post do %>
    <div style="display: flex; justify-content: space-between;">
      <% if type == 'series' %>
        <span style="width: 40px; color: black;"><%= index %></span>
      <% end %>
      <span style="width: 100%;">
        <h4 class="media-heading" style="display: inline-block;">
          <%= post.display_title %>
        </h4>
        <% unless current_user && current_user.can_watch_pro %>
          <% if post.free %>
            <span class="icon free" style="display: inline-block;">FREE</span>
          <% end %>
        <% end %>
      </span>
      <span style="width: 60px; color: black;">
        <span class="play-time">
          <%= post.readable_time %>
        </span>
      </span>
    </div>
  <% end %>
</div>
