<div style="padding-left:25px" class="list-group-item">
<li data-url="<%= post_path(post) %>">
<%= link_to post do %>
    <h4 class="media-heading">
        <%= post.display_title %>
        <% unless current_user && current_user.can_watch_pro %>
          <% if post.free %>
            <span class="icon free" style="display: inline-block;">FREE</span>
          <% end %>
        <% end %>
        <span class="play-time pull-right">
          <%= post.readable_time %>
        </span>
    </h4>
<% end %>
  </li>
</div>