<h1>Latest Screencasts</h1>
<hr>
<div class="posts">
  <% @posts.each do |post| %>
    <%= render 'post_listing', post: post%>
  <% end %>
</div>

<a href="https://mixpanel.com/f/partner" class="pull-right"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>