<h1>Most Recent Videos</h1>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post %></h2>
      <div class="description"><%= post.description %></div>
    </div>
  <% end %>
</div>