<h1>Latest Screencasts</h1>
<div>
  Filter by Difficulty:
  <a href="/posts?difficulty=basic">Basic</a>
  <a href="/posts?difficulty=intermediate">Intermediate</a>
  <a href="/posts?difficulty=advanced">Advanced</a>
</div>

<hr>
<div class="posts">
  <% @posts.each do |post| %>
    <%= render 'post_listing', post: post%>
  <% end %>
</div>

<a href="https://mixpanel.com/f/partner" class="pull-right"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>

<% content_for :title, "Video List- EmberScreencasts" %>
