//rm this after turning it off through wisita 
.socialbar_button {
	display: none!important;
}

.clickable-media-link.media {
	border-bottom: 1px solid #333;
}

.free .media-heading:after {
	content: 'FREE';
	font-size: 12px;
	background: #4A90E2;
	color: white;
	border-radius: 5px;
	padding: 4px;
	margin-left: 5px;
}

.icon {
	background: #4A90E2;
	color: white;
	border-radius: 3px;
	text-align: center;
	margin: 2px;
	line-height: 1.5em;
	padding: 5px 8px;
	vertical-align: middle;
	&.free {
		content: 'FREE';
		font-size: 10px;
		padding:2px 4px;
	}
}

.card-well {
	.well {
		background: transparent;
		border: none;
		box-shadow: none;
	}
	img {
		width: 100%;
	}
	.details {
		background: #efefef;
		padding: 5px;
	}
}

.jumbotron p {
	color: white;
}

.text-white {
	color: #fff;
}

.btn-ghost.btn-line {
	position: relative;
	top: -40px;
	background: rgb(232, 74, 54);
}

.well.prime-well {
	background: rgb(232, 74, 54);
	color: #fff;
	h1 {
		font-size: 100px;
		margin-top: 0px;
		letter-spacing: -9px;
	}
	h3 {
		font-size: 36px;
		margin-top: 0px;
	}
}
.well.card {
	background: #fff;
}
.top-buffer {
	margin-top: 20px;
}
.spacer {
	padding: 5px;
}
.lead.line {
	border-bottom: 1px solid #333;
	margin-top: 40px;
}

.title_callout {
	display: inline-block;
	background: #ed7364;
	padding: 15px;
	margin: 0;
	color: white;
}

.tab-content {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

.series-list > ol {
	padding-left: 15px;
	& > li {
		margin-top: 6px;
	}
}

.side-well {
	background: #fff;
	border: 1px solid #ddd;
	padding:10px;
}

.well-title {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 0;
	padding: 10px;
}

ol > a:hover {
	text-decoration: none
}

.white-well {
	background: #ffffff;
	color: #333
}

.card-series {
	.card-well {
		width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
		margin-bottom: 60px;
		position: relative;
		border: 1px solid #cfcfcf;

		&:nth-child(1n) {
			float: left;
			margin-right: 30px;
			clear: none;
		}
		&:nth-child(4n) {
			margin-right: 0;
			float: right;
		}
		&:nth-child(4n+1) {
			clear: left;
		}
	}
}

@media screen and (max-width: 991px) {
	.card-series .card-well {
		width: calc(99.99% * 1/3 - (30px -30px * 1/3));
		&:nth-child(1n) {
			float: left;
			margin-right: 30px;
			clear: none;
		}
		&:nth-child(3n) {
			margin-right: 0;
			float: right;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

@media screen and (max-width: 767px) {
	.card-series .card-well {
		width: calc(99.99% * 1 - (30px -30px * 1));
		&:nth-child(1n) {
			float: left;
			margin-right: 30px;
			clear: none;
		}
	}
}


