// @import url(https://fonts.googleapis.com/css?family=Port+Lligat+Slab:400,700|Lato);
// $primary-red: #FF373B;
// $primary-blue: #3E25E8;
// $primary-brown: #CC4B18;
// $dark-red: #99644F;
// $mid-green: #9BDC4A;
// $dark-green: #7cad3c;
$near-black: #1D1D1D;
// $near-white: #F5F5F5;
//
@mixin no-underline {
  a, a:visited, a:hover, a:link {
    text-decoration: none
  };
}

.clickable-media-link, .clickable-external-link {
  cursor: pointer;
}
@media (min-width: 468px){
  .dropdown-container {
    margin-top: -25px;
  }
}

.bg-prime {
  background-color: rgb(232, 74, 54);
}

.image-fit img {
  width: 100%;
}

.article {
  max-width: 800px;
  font-size: 1.1em;
  font-family: 'Maven Pro';
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  ol, ul {
    font-size: 15px;
    line-height: 19px;
  }
}
//
html {
  position: relative;
  min-height: 100%;
}

a.link-but-normal {
  @include no-underline;
  color: #000;
}

a.btn-ghost {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 0;
  font-size: 18px;
}

a.light-button {
  background-color: #ADD8E6;
  text-decoration: none;
  color: #000;
}
#video_archive ul li {
  list-style: none;
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'Maven Pro';

  .archive-publish-date {
    width: 150px;
    display: inline-block;
  }
  .archive-image {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
  }


  @include no-underline;

  a:hover {
    color: #5897AB;
  }

  a {
    color: #38476B;
  }


  @media (max-width: 480px) {
    font-size: 12px;
    .archive-publish-date {display: none;}
    .archive-image {
      width: 15px;
      img {
        height: 12px;
      }
    }
  }

  @media (max-width: 720px) and (min-width: 480px) {
    font-size: 15px;
    .archive-publish-date {width: 100px;}
    .archive-image {
      width: 20px;
      img {
        height: 15px;
      }
    }
  }
}

.main-content {
  margin-bottom: 100px;
}

.sales-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;

  h2 {
    margin-top: 0px;
  }

  form {
    display: inline-block;
  }

  span.free-screencasts-button a {
    color: #F5AB98;
    text-decoration: none;
  }
  span.login-path-button a {
    color: #9CCC88;
    text-decoration: none;
  }

  .btn {
    font-family: 'Maven Pro', sans-serif;
    background-color: $near-black;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  vertical-align: center;
  text-align: center;
}
//
.small-image {
  width: 200px;
}

.big-text-area {
  width: 300px;
  height: 70px;
}
