@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Kameron:400,700|EB+Garamond);

$primary-red: #FF373B;
$primary-blue: #3E25E8;
$primary-brown: #CC4B18;
$dark-red: #99644F;
$mid-green: #9BDC4A;
$dark-green: #7cad3c;
$near-black: #1D1D1D;
$near-white: #F5F5F5;

@mixin no-underline {
  a, a:visited, a:hover, a:link {
    text-decoration: none
  };
}

body {
  font-family: 'EB Garamond', serif;
  background-color: $near-white;
  color: $near-black;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kameron', serif;
  font-weight: bold;
  @include no-underline; 
}

a, a:hover, a:link {
  color: $primary-brown;
}

a:visited {
  color: $dark-red;
}

.sparks-header {
  background-color: $primary-brown;
}

#application-nav.navbar-default.navbar {
  .navbar-toggle {
    border-color: $near-black;

    .icon-bar {
      background-color: $near-black;
    }
  }

  a {
    font-family: 'Kameron', serif;
    text-decoration: none;
    color: $near-black;
    cursor: pointer;

    &.navbar-brand {
      font-weight: bold;
    }
  }
}

.btn {
  font-family: 'Kameron', serif;
  font-weight: bold;
  background-color: $near-black;
}
a.btn.watch-btn {
  color: $mid-green;
}

a:visited.btn.watch-btn {
  color: $dark-green;
}

a.btn {
  text-decoration: none;  
  color: $near-black;
}

.description {
  margin: 15px 0;
}

.main-content {
  margin-bottom: 60px;
}

.index-title {
  margin-top: 0px;
  margin-bottom: 4px;
}

#edit_user, #new_user {
  input {
    margin-bottom: 10px;
  }
}