.testimonial {
	padding: 10px;
	background-color: lightblue;
	margin-bottom: 12px;
	font-family: 'Maven Pro';

	.person-photo {
		float: right;
		img {
			max-width: 70px;
			max-height: 70px;
		}
	}

	.quote {
		font-size: 26px;
		line-height: 26px;
		font-family: 'Maven Pro';
	}

	p {
		margin: 10px 0 10px 0;
	}
}
