<div class="container">
  <div class="col-md-3">
    {{#link-to 'posts.new' tagName="button"}}New{{/link-to}}
    <ul>
      {{#each model as |post|}}
        <li>{{#link-to 'posts.post.show' post}}{{post.title}}{{/link-to}} ({{post.taggings.length}})</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
