<div class="display-attributes">
<%= displayAttrs %>
</div>

<hr>
{{#link-to '<%= dasherizedModuleName %>.edit' model tagName="button"}}Edit{{/link-to}}
<button {{action 'delete'}} class="pull-right">Delete</button>