<section>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Save Time. Learn more. Level up.</h1>
    </div>
  </div>
</section>
<p class="lead text-center">Satisfaction Guarantee, cancel anytime.</p>
<div class="well card center-block" style="max-width:600px">
	<form>
	  <div class="form-group">
	    <label for="email">Email</label>
	    <input type="email" class="form-control" id="email" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" placeholder="Password">
	  </div>
	  <hr />
	  <div class="form-group">
	    <label for="card">Card Number</label>
	    <input type="tel" class="form-control" id="card" placeholder="Credit Card Number">
	  </div>
	  <div class="form-group">
	    <label for="ccv">CCV Code</label>
	    <input type="tel" class="form-control" id="ccv" placeholder="Security Code">
	  </div>
	  <div class="form-group">
	    <label for="exp">Card Expiration</label>
	    <input type="tel" class="form-control" id="exp" placeholder="Expiration Date">
	  </div>
	  <div class="text-center">
	  	<%= link_to 'Confirm Payment ($10)', '#', class: 'btn btn-success btn-lg' %>
	  </div>
	</form>
</div>
