<!-- Page rendered when anonymous or unsubscribed sign up -->
<div class="container">
  <h1>The best resource for intermediate Ember developers</h1>
  <p>For just $9.95/month, you get <em>instant</em> <em>on-demand</em> access to every single video in the emberscreencasts library.</p>

  <ul>
      <li>New up-to-date videos every week.</li>
      <li>Over 10 hours of fast-paced content.</li>
      <li>No commitment - unsubscribing is instant and easy.</li>
  </ul>

  <h2>Save time.  Learn more.  Be better.</h2>
  <%= link_to "Subscribe for $9.99/month", subscribe_path, class: "btn btn-primary light-button" %>
  <br>
  <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.emberscreencasts.com' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
  <br>
  <p>Buying for your organization?  You can add more users to your account after signing up.</p>

  <!-- Lots of testimonials -->
  <!-- Another subscribe button -->

  <% content_for :title, "Learn like a Pro- sign up for an EmberScreencasts Pro Subscription." %>
</div>
