<!-- Page rendered when anonymous or unsubscribed sign up -->
<section>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Save Time. Learn more. Level up.</h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="lead text-center">Get access to every video, every course,
        every update. New Ember screencasts are published once a week.
        Cancel anytime.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="well prime-well text-center">
        <h3>Monthly</h3>
        <h1><%= number_to_currency(10, precision:0) %></h1>
        <a href="/pay" class="btn btn-primary btn-lg center-block">Subscribe Now</a>
      </div>
    </div>
  </div>
  <p class='lead line'>Frequently Asked Questions</p>
  <div class="row">
    <div class="col-md-6">
      <div class="well card">
        <h3>What do I get when I subscribe?</h3>
        <p>You get access to dozens of Pro screencasts, as well as a warm fuzzy feeling inside for helping the community.
      </div>
    </div>
    <div class="col-md-6">
      <div class="well card">
        <h3>How do I unsubscribe?</h3>
        <p>You go to your account page and hit the unsubscribe button. You will be unsubscribed immediately and your credit card will no longer be charged.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well card">
        <h3>Can you cover a specific subject I want?</h3>
        <p>Demand plays a role in how I decide screencast topics. Email me to make your voice heard.
      </div>
    </div>
    <div class="col-md-6">
      <div class="well card">
        <h3>Do you teach personal sessions?</h3>
        <p>Contact me at my personal email address to discuss team, or corporate training.
      </div>
    </div>
  </div>
  <p class="lead line">As Seen On Twitter</p>
  <%= render 'shared/twitter_mentions' %>


  <% content_for :title, "Learn like a Pro- sign up for an EmberScreencasts Pro Subscription." %>
  <% content_for :meta_description, "Subscribe to an emberscreencasts.com pro account to boost your learning and be a better Ember developer." %>
</div>
