Put stuff here about current subscription status.

<p>Subscribed: <%= current_user.subscribed %>
<p>Stripe Customer ID: <%= current_user.stripe_customer_id %>

<form action="/subscribe" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-image="/square-image.png"
    data-name="SparkCasts"
    data-description="Monthly Subscription"
    data-label="Subscribe"
    data-panel-label="Subscribe {{amount}}/month"
    data-amount="900">
  </script>
</form>