<p>Welcome to emberscreencasts.com!</p>

<p>Your organization, <%= @organization.name %>, has set up a pro account for you.</p>

<p>In order to activate your account, you need to <%= link_to 'click here and set your password', controller: "users", action: "set_password", user_id: @user.id, token: @user.invitation_token, host: @host %>.</p>

<p>If you have any questions, feel free to email me (jeffrey@emberscreencasts.com) or the person who set up this account for you (<%= @inviter.email %>).</p>

<p>--Jeffrey</p>
