<p>Title: {{input value=model.title}}</p>
<p>Free: {{input type="checkbox" checked=model.free}}</p>
<p>VideoUrl: {{input value=model.videoUrl}}</p>
<p>Description: {{textarea value=model.description}}</p>